################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/src/.vs/StreamrNodeManager
/src/bin
/src/obj
